/*fonts - style du texte*/ 

@font-face {
	font-family: 'sebastien-slab-round.regular';
	src: url('./fonts/sebastien-slab-round.regular.ttf');
	src: url('./fonts/sebastien-slab-round.regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agencyr';
	src: url('./fonts/AGENCYR.TTF');
	src: url('./fonts/AGENCYR.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "ConthraxSb-Regular";
    src: url('./fonts/font.woff2') format('woff2'), url('./fonts/font.woff') format('woff');
    font-weight: normal;
	font-style: normal;
}

/*corps de la page*/

body
{
    background-color: #efee3e;
    font-family: 'agencyr', 'ConthraxSb-Regular', 'sebastien-slab-round.regular', "Verdana", "Arial", sans-serif;
}

/*l'entête*/

header
{
    display: flex;
    margin: auto;
}

/*setup du logo*/

#logo
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #121212;
}

.logo
{
    position: absolute;
    top: 27%;
    left: 13%;
    width: 70%;
    height: auto;
}

/*menu de navigation*/

#titre_nav
{
    position: fixed;
    top: 10px;
    right: 0px;
    width: 50%;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a
{
    text-decoration: none;
    color: #121212;
    font-size: 2em;
    font-weight: lighter;
}

nav a:hover
{
    text-shadow: 0px 0px 10px #757575;
}

/*le contenu*/

section
{
    position: absolute;
    left: 57%;
    top: 23%;
}

h1
{
    font-size: 2.6em;
}

p
{
    font-size: 1.5em;
    width: 85%;
}

#emoji
{
    font-size: 2.2em;
}

/* pied de page*/

footer
{
    position: fixed;
    right: 0px;
    bottom: 10px;
    width: 50%;
}

#contact
{
    position: absolute;
    right: 10px;
    bottom: 0px;
}

footer a
{
    text-decoration: none;
    color: #121212;
    font-size: 1.3em;
}

footer a:hover
{
    text-decoration: underline;
}