/*fonts - style du texte*/ 

@font-face {
	font-family: 'agencyr';
	src: url('./fonts/AGENCYR.TTF');
	src: url('./fonts/AGENCYR.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*corps de la page*/

body
{
    margin: 0;
    font-family: 'agencyr';
    background-color: #efee3e;
}

/*logo*/

.left
{
    position: absolute;
    left: 0;
    background-color: #121212;
    width: 50%;
    height: 100%;
    display: flex;
}

.left img 
{
    margin: auto;
    max-width: 70%;
    height: auto;
}

/*coté droit - contenu*/

.right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    background-color: #efee3e;
    width: 50%;
    height: 100%;
}

/*menu de navigation*/

.right nav
{
    position: absolute;
    top: 0;
    width: 100%;
}

.right ul
{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.right nav a
{
    text-decoration: none;
    color: #121212;
    font-size: 2em;
    font-weight: lighter;
}

.right nav a:hover
{
    text-shadow: 0px 0px 10px #757575;
}

/*text écrit*/

.right .content
{
    width: 80%;
    margin: 0 10%;
}

.right h1
{
    font-size: 2.6em;
}

.right p
{
    font-size: 1.5em;
}

/*bas de page*/

.right .bottom
{
    position: absolute;
    bottom: 3%;
    right: 5%;
}

.right .bottom a
{
    text-decoration: none;
    color: #121212;
    font-size: 1.3em;
}

.right .bottom a:hover
{
    text-decoration: underline;
}

/*media taille tablette*/

@media screen and (max-width : 900px)
{
    .total
    {
        display: flex;
        flex-direction: column;
    }

    .left
    {
        z-index: 1;
        position: relative;
        width: 100%;
        height: 130px;
    }

    .left img 
    {
        max-width: 50%;
        height: auto;
        max-height: 90%;
    }

    .right
    {
        z-index: -1;
        top: 0;
        width: 100%;
    }
    
    .right nav
    {
        top: 130px;
    }

    .right .content
    {
        height: 38%;
    }

    .right .bottom
    {
        display: none;
    }
}

/*media taille téléphone*/

@media screen and (max-width : 568px)
{
    .left
    {
        height: 130px;
    }

    .right nav
    {
        top: 130px;
    }

    .right h1
    {
        font-size: 1.8em;
    }

    .right .content
    {
        height: 38%;
    }

    .right .content p
    {
        font-size: 1.4em;
    }

    .right .bottom a
    {
        font-size: 1.1em;
    }
}